In [ ]:
int('12312d', base=16)

1192237

In [ ]:
int('12312d')

ValueError: invalid literal for int() with base 10: '12312d'

In [ ]:
int('12312\n'), int('12312\t'), int('12312\r')

(12312, 12312, 12312)

In [ ]:
float('10e-7'), int(eval('10-7'))

(1e-06, 3)

In [1]:
dic = {1:2, 2:3, 3:3, 3:2}
dic[0]

KeyError: 0

In [4]:
for i in dic:
    print(i, end=' ')

1 2 3

In [3]:
print('%s, %s' % ('하나', '둘'))

하나, 둘

In [7]:
print("오늘 소개할 작품은 %s의 %d년 작품 %s입니다" % ("고흐", 1889, "자화상"))
print("물건이 %d개 있어요." % (1))
print("물건이 %d개 있어요." % (10))
print("물건이 %d개 있어요." % (100))
# 자릿수 확보
print("물건이 %3d개 있어요." % (1)) # 3 개 숫자가 들어갈 공간을 확보
print("물건이 %3d개 있어요." % (10))
print("물건이 %3d개 있어요." % (100))
print("물건이 %3d개 있어요." % (1000000))
# 소수점 처리
print("원주율은 %.1f입니다." % (3.141592)) # 소수점 1 자리까지
print("원주율은 %.2f입니다." % (3.141592)) # 소수점 2 자리까지
print("원주율은 %5.2f입니다." % (3.141592)) # 5 자리 공간 확보하고,소수점 2 자리까지

오늘 소개할 작품은 고흐의 1889년 작품 자화상입니다
물건이 1개 있어요.
물건이 10개 있어요.
물건이 100개 있어요.
물건이   1개 있어요.
물건이  10개 있어요.
물건이 100개 있어요.
물건이 1000000개 있어요.
원주율은 3.1입니다.
원주율은 3.14입니다.
원주율은  3.14입니다.

In [21]:
print("체질량 지수 BMI를 계산합니다~\n")
name = input("당신의 이름을 입력하세요: ") # input() 함수로 입력을 받는다.
weight = input("몸무게를 입력하세요: ") # 결과는 항상 문자열이다
height = input("키를 입력하세요: ")

체질량 지수 BMI를 계산합니다~

In [22]:

print(type(weight), type(height)) # 둘 다 str 타입이다
weight = float(weight)
height = float(height)
print(type(weight), type(height)) # float 로 바뀌었다
height = height / 100 # bmi 계산을 위해 단위 조정
bmi = weight / (height*height) # 또는 weight / (height**2)
comment = "\n%s님의 bmi는 %d/(%.2f*%.2f)이므로 %.3f입니다." # %f를 %d로 변환
print(comment % (name, weight, height, height, bmi))

<class 'str'> <class 'str'>
<class 'float'> <class 'float'>

철수님의 bmi는 85/(1.82*1.82)이므로 25.693입니다.

In [18]:
type(eval('%4d' % (182.1)))

int

In [30]:
comment = "\n%s님의 bmi는 %4d/(%.2f*%8.2f)이므로 %8.3f입니다." # %f를 %d로 변환
print(comment % (name, weight, height, height, bmi))

철수님의 bmi는   85/(1.82*    1.82)이므로   25.693입니다.

In [37]:
tup = ('하나','둘','1',2,3,'셋')
print('{0}'.format(*tup))
print('{3},{1}'.format(*tup))
print('{}{}{}{}{}{}'.format(*tup))

하나
2,둘
하나둘123셋

In [58]:
print("\n{}님의 키와 몸무게는 아래와 같습니다.".format(name))
print(":{0:10.1f}m,{0:10.3f}m,{0:6.3f}m,{0:6.3}m".format(height))

철수님의 키와 몸무게는 아래와 같습니다.
:       1.8m,     1.821m, 1.821m,  1.82m

In [66]:
age=12123

print(f'이름은 {name}, 나이는 {age:5}, 키는 {height:10.3f}, 몸무게는 {weight:20.1f}')

이름은 철수, 나이는 12123, 키는      1.821, 몸무게는                 85.2

In [67]:
birds = ['참새', '제비', '독수리']
insects = ['개미', '풍뎅이', '메뚜기']
animals = [birds, insects]

In [73]:
for species in animals:
    print("이번 그룹의 동물들은 ['{}','{}','{}']입니다. \n이 그룹에 속한 각각의 동물은".format(*species))
    for animal in species:
        print(animal)
    print('입니다.\n')

이번 그룹의 동물들은 ['참새','제비','독수리']입니다.
이 그룹에 속한 각각의 동물은
참새
제비
독수리
입니다.

이번 그룹의 동물들은 ['개미','풍뎅이','메뚜기']입니다.
이 그룹에 속한 각각의 동물은
개미
풍뎅이
메뚜기
입니다.

In [79]:
for species in animals:
    print(
"""이번 그룹의 동물들은 ['{0}','{1}','{2}']입니다.
이 그룹에 속한 각각의 동물은
{0}
{1}
{2}
입니다.
""".format(*species))

이번 그룹의 동물들은 ['참새','제비','독수리']입니다.
이 그룹에 속한 각각의 동물은
참새
제비
독수리
입니다.

이번 그룹의 동물들은 ['개미','풍뎅이','메뚜기']입니다.
이 그룹에 속한 각각의 동물은
개미
풍뎅이
메뚜기
입니다.

In [83]:
age = int(input("당신의 나이는?: "))
if age == 19:
    print("[1] 올해 성년이 되셨군요!")
else :
    print("[2] 당신은 19세가 아닙니다.")
if age >= 19:
    print("[3] 당신은 19세 이상입니다.")
if age > 19:
    print("[4] 당신은 20세 이상입니다.")
if 19 < age < 30:
    print("[5] 당신은 20대입니다.")

[1] 올해 성년이 되셨군요!
[3] 당신은 19세 이상입니다.

In [85]:
bool('False')

True

In [93]:
animals = ['닭', '소', '돼지']
animals2 = ['오리','꿩','노루']

s = input('찾고자하는 동물을 입력하세요 : ')

if s in animals:
    print(f'{s}, 있습니다!')
elif s in animals2:
    print(f'{s}, 재고가 없습니다.')
else:
    print(f'{s}.. 취급 품목이 아닙니다...')

꾸.. 취급 품목이 아닙니다...

In [94]:
animals = ['닭', '소', '돼지']
animals2 = ['오리','꿩','노루']

found = False
for _ in range(5):
    s = input('찾고자하는 동물을 입력하세요 : ')
    if s in animals:
        print(f'{s}, 있습니다!')
        found = True
    if s in animals2:
        print(f'{s}, 재고가 없습니다.')
        found = True
    if not found:
        print(f'{s}.. 취급 품목이 아닙니다...')
        found = False

돼지, 있습니다!
돼지, 있습니다!
돼지, 있습니다!
돼지, 있습니다!

In [3]:
all_animals = ['닭', '소', '돼지','오리','꿩','노루']

found = False
while not found:
    s = input('찾고자하는 동물을 입력하세요 : ')
    for a in all_animals:
        if a == s :
            print(f'{s} 찾았습니당')
            found = True
            break
    if not found:
        print('못찾음 ㅠ')

오리찾았습니당

In [6]:
제일농장 = [100, 50, 80]
우리농장 = [50, 10, 20]
한국농장 = [200, 100, 150]
farms = [제일농장, 우리농장, 한국농장]
animals = ['닭', '소', '돼지']

for f in farms:
    print('*'*5,f,'*'*5)
    for i in range(len(animals)):
        print(f'{animals[i]}, {f[i]} 마리 입니다.')
    print()

***** [100, 50, 80] *****
닭, 100 마리 입니다.
소, 50 마리 입니다.
돼지, 80 마리 입니다.

***** [50, 10, 20] *****
닭, 50 마리 입니다.
소, 10 마리 입니다.
돼지, 20 마리 입니다.

***** [200, 100, 150] *****
닭, 200 마리 입니다.
소, 100 마리 입니다.
돼지, 150 마리 입니다.